{% extends "copacity/includes/base.html" %}
{% block nav-copacity %}<a class="nav-link active" href="{% url 'copacity_list' %}">Capacity</a><span class="sr-only">(current)</span>{% endblock %}


    {% block content %}

        <div class="container">
            <div>
                <h1>Edit Resource</h1>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <form method="post" role="form">
                        {% csrf_token %}
                        {% for f in form %}
                            <div class="form-group">
                                {{ f.label }}
                                {{ f }}
                                {% if f.errors %}
                                    {% for error in f.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <a class="btn btn-primary" href="{% url 'resource_profile' resource_id %}">Back</a>
                            <input class="btn btn-primary float-right" type="submit" value="Save" />
                        </div>
                    </form>
                </div>
            </div>
        </div>


    {% endblock content %}