{% extends "copacity/includes/base.html" %}
{% block nav-copacity %}<a class="nav-link active" href="{% url 'copacity_list' %}">Capacity</a><span class="sr-only">(current)</span>{% endblock %}

    {% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <h1>{{resource_name}}'s Time Off</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel_profile panel-default_profile">
                    <div class="panel-body_profile">
                        <div>
                            <p><strong>Future | <a href="{% url 'edit_timeoff_past' resource_id %}">Past</a></strong></p>
                        </div>
                        <form method="post" role="form">
                            {% csrf_token %}
                            {% for i in form_delete.active %}
                                <div class="checkbox">
                                    {{i}}
                                </div>
                            {% endfor %}
                        <div class="form-group align-bottom">
                            <input class="btn btn-primary" type="submit" value="Delete Selected" />
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel_profile panel-default_profile">
                    <div class="panel-body_profile">
                        <h3>Add Time Off</h3>
                        <form method="post" role="form">
                            {% csrf_token %}
                            {% for f in form %}
                                <div class="form-group">
                                    {{ f.label }}
                                    {{ f }}
                                    {% if f.errors %}
                                        {% for error in f.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <input class="btn btn-primary" type="submit" value="Save" />
                        </form>
                    </div>
                </div>    
            </div>
        </div>
        <div class="row">
            <div class = "col-sm-12">
                <a class="btn btn-primary" href="{% url 'resource_profile' resource_id %}">Back</a>
            </div>
        </div>
    </div>


    {% endblock content %}