{% extends "copacity/includes/base.html" %}
{% block nav-settings %}<a class="nav-link active" href="{% url 'settings' %}">Settings</a><span class="sr-only">(current)</span>{% endblock %}
    
    {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1> Application Settings </h1>
            </div>
        </div>
        <div class="row">
            <ul class="nav2 nav-tabs">
                <li><a href="{% url 'settings_project_type' %}">Project Type</a></li>
                <li class="active"><a href="{% url 'settings_resource_type' %}">Resource Type</a></li>
                <li><a href="{% url 'settings_holiday' %}">Holidays</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel_profile panel-default_profile">
                    <div class="panel-body_profile">
                            <h4>Current Resource Types</h4>
                            <ul>
                            {% for r in resource_type_list %}
                                <li>
                                    {{r}}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            <div class="col-sm-6">
                <div class="panel_profile panel-default_profile">
                    <div class="panel-body_profile">
                        <form method="post" role="form">
                            {% csrf_token %}
                            {% for f in form %}
                            <div class="form-group">
                                {{ f.label }}
                                {{ f }}
                                {% if f.errors %}
                                    {% for error in f.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% endfor %}
                                <input class="btn btn-primary float-right" type="submit" value="Add"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
        
    {% endblock content %}