{% extends "copacity/includes/base.html" %}
{% block nav-users %}<a class="nav-link active" href="{% url 'users' %}">Users</a><span class="sr-only">(current)</span>{% endblock %}
{% load render_table from django_tables2 %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <h1>Managers</h1>
                </div>
                <div class="col-sm-2">
                    <div class="float-right">
                        <a class="btn btn-primary" href="{% url 'new_manager'%}">Add Manager</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p><strong></b><a href="{% url 'users' %}">Active</a> | Inactive</strong></p>
                </div>
            </div>
            <div>
                    {% render_table table %}
            </div>
        </div>

    {% endblock content %}